* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

header {
    color: #e53170;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;

}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0 10px;
    font-size: x-small;
}


.paragrafo {
    margin: 2rem 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
}

.col-4 {
    width: calc((100% /3) - 20px);
    height: 100%;
    float: left;
    background-color: black;
    box-shadow: 0 0 10px;
    margin-bottom: 40px;
    margin-left:  10px; 
    margin-right:  10px; 

      
}

img {

    margin: 0;
    padding-right: 10px;
    float: left;
    height: 5rem;
    width: auto;

}


.card_text {
    color: white;
    text-align: left;
    padding-left: 5 px;
    display: inline;
    vertical-align: top;

}


.email {
    color: #5cbae1;
    vertical-align: bottom;


}